services:
  - type: web
    name: mini-google-ai
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && cd frontend && npm install && npm run build && cd ../backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: GEMINI_API_KEY
        sync: false
      - key: SERP_API_KEY
        sync: false
      - key: OPENWEATHER_API_KEY
        sync: false
